@import '../utils/mixins';
@import '../utils/variables';

.breadcrumbs {
  display: flex;
  align-items: center;

  &__home {
    display: flex;
    align-items: center;

    margin-right: 13px;
  }

  &__arrow {
    margin-right: 13px;
  }

  &__nav {
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: $secondary;
  }
}
