@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';

.burger-icon {
  display: none;

  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;

  border: 1px solid #323542;
  border-bottom: none;

  cursor: pointer;

  @media (max-width: 639px) {
    display: flex;
  }

  &--action {
    background-color: $dark-background;
  }
}

.burger {
  position: absolute;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  background-color: $dark-background;

  &--with-menu {
    overflow: hidden;
    overscroll-behavior: none;
  }

  &__nav {
    position: absolute;
    z-index: 2;

    &--on-open {
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;
    }

    &:target {
      transform: translateX(0);
    }

    display: flex;
    flex-direction: column;

    height: 100vh;
    width: 100%;

    background-color: $dark-background;
  }

  &__header {
    display: flex;
    flex-direction: row;
    height: 48px;

    border: 1px solid #3b3e4a;

    &--bottom {
      flex-shrink: 0;
      width: 100%;
      height: 64px;
    }

    &--icon {
      display: flex;
      flex-grow: 1;
      justify-content: center;
      align-items: center;

      position: relative;

      &:nth-child(1) {
        border-right: 1px solid $elements;
      }
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    padding-left: 16px;
    border-right: 1px solid #3b3e4a;
    flex-grow: 8.5;

    &--image {
      height: 20px;
      width: 64px;
    }

    &--arm {
      height: 12px;
      width: 9px;
      position: relative;
      right: 32px;
      bottom: 10px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1.5;

    border: none;

    background-color: $dark-background;

    cursor: pointer;
  }

  &__list {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  &__link {
    display: block;
    margin-top: 32px;
    line-height: 11px;
    font-size: 12px;
    font-weight: 800;
    font-family: Mont, sans-serif;
    text-decoration: none;
    color: #75767f;

    &:hover {
      color: #f1f2f9;
    }
  }

  &__icon{
    &--quantity {
      @include quantityAndFavorites;
      
      top: 18px;
      right: 43%;
    }
    
    &--favorites {
      @include quantityAndFavorites;
      top: 18px;
      right: 43%;
    }
  }
}

.burger .is-active {
  color: #f1f2f9;
  position: relative;
}

.burger .is-active::after {
  top: 97%;
  height: 3px;
}
