@import '../utils/mixins';
@import '../utils/variables';

.cartItem {
  width: 100%;
  height: 128px;
  margin-bottom: 16px;

  @include onMobile {
    height: 160px;
    padding: 16px;
  }

  @media (min-width: 640px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  background-color: $gray-surface1;
  padding: 24px;

  &__img {
    margin: 0 35px;
    display: block;
    object-fit: scale-down;
    height: 100%;
    width: 66px;
    padding: 8px;

    @include onMobile {
      height: 66px;
    }
  }

  &__button {
    border: 0;
    height: 16px;
    width: 16px;
    background-color: $gray-surface1;
    cursor: pointer;
  }

  &__title {
    display: flex;
    align-items: center;

    @include onMobile {
      margin-bottom: 23px;
    }

    &--text {
      line-height: 21px;
      font-weight: 600;
      font-size: 14px;
      color: $white;
      text-decoration: none;
      text-align: left;
      word-break: break-all;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price {
    font-size: 22px;
    font-weight: 800;
    color: $white;

    @media (min-width: 640px) {
      margin-left: 53px;
    }
  }

  &__counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    height: 32px;
    width: 96px;
    margin: 8px;

    &--number {
      text-align: center;
      line-height: 21px;
      font-size: 14px;
      font-weight: 600;
      color: $white;
    }

    &--button {
      display: flex;
      cursor: pointer;
      height: 32px;
      width: 32px;
      justify-content: center;
      align-items: center;

      border-radius: 0;

      &--minus {
        border: 1px $elements solid;
        background-color: $gray-surface1;

        &:hover {
          background-color: $elements;
        }
      }

      &--plus {
        background-color: $gray-surface2;
        border: 0;

        &:hover {
          background-color: $gray-hover;
        }
      }
    }
  }
}
