@import '../utils/mixins';
@import '../utils/variables';

.catalog {
  &__text {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    @media (max-width: 639px) {
      justify-content: center;
    }

    &--header {
      margin-top: 40px;

      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      line-height: 56px;
      letter-spacing: -0.01em;
      color: $white;

      @media (max-width: 639px) {
        font-size: 32px;
        line-height: 41px;
      }
    }

    &--amount {
      margin-top: 8px;

      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.03em;
      color: $secondary;
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
  }
}

.transition {
  &-enter {
    height: 0;
  }

  &-enter-active {
    overflow: hidden;
    height: 64px;
    transition: 0.3s ease-in;
    transition-property: height, overflow;
  }

  &-exit-active {
    overflow: hidden;
    height: 0;
    transition: 0.3s ease-in;
    transition-property: height, overflow;
  }

  &-exit {
    overflow: hidden;
    height: 0;
  }
}
