.catalog {
  margin-left: 8px;
  &__amount-items-header {
    margin-top: 40px;

    font-style: normal;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.01em;
    color: $white;
  }

  &__amount-items-text {
    margin-top: 8px;

    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    color: $secondary;
  }
}
