@import '../utils/mixins';

.container {
  flex-grow: 1;

  margin: 25px auto 80px;
  min-width: 320px;
  max-width: 1200px;

  min-height: 50vh;

  @media (max-width: 1199px) {
    margin: 0 16px;
  }
}
