@import '../utils/mixins';

.grid {
  display: grid;
  grid-template-columns: repeat(24, 32px);
  column-gap: 16px;

  @include onTablet {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 16px;
  }

  @include onMobile {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
  }

  &__item {
    @for $start from 1 through 24 {
      @for $end from $start through 24 {
        &-desktop-#{$start}-#{end} {
          grid-column: #{$start} / #{$end + 1};
        }
      }
    }

    @for $start from 1 through 12 {
      @for $end from $start through 12 {
        @include onTablet {
          &--tablet-#{$start}-#{$end} {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }

    @for $start from 1 through 4 {
      @for $end from $start through 4 {
        @include onMobile {
          &--mobile-#{$start}-#{$end} {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }
}
