@import '../utils/mixins';

.grid {
  display: grid;
  column-gap: 16px;
  margin: 0 auto;
  grid-template-columns: repeat(24, 32px);

  &-tablet {
    @include onTablet {
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &-mobile {
    @include onMobile {
      grid-template-columns: repeat(4, minmax(60px, 1fr));
    }
  }

  &__item {
    @for $start from 1 through 24 {
      @for $end from $start+1 through 25 {
        &--desktop-#{$start}-#{$end} {
          grid-column: #{$start} / #{$end};
        }
      }
    }

    @for $start from 1 through 12 {
      @for $end from $start+1 through 13 {
        @include onTablet {
          &--tablet-#{$start}-#{$end} {
            grid-column: #{$start} / #{$end};
          }
        }
      }
    }

    @for $start from 1 through 4 {
      @for $end from $start+1 through 5 {
        @include onMobile {
          &--tablet-#{$start}-#{$end} {
            grid-column: #{$start} / #{$end};
          }
        }
      }
    }
  }
}
