@import '../utils/mixins';

.grid {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  column-gap: 16px;
  margin: 0 auto;

  @include onTablet {
    grid-template-columns: repeat(12, 1fr);
  }

  @include onMobile {
    grid-template-columns: repeat(4, 1fr);
  }

  &__item {
    &--desktop {
      @for $start from 1 through 24 {
        @for $end from $start through 24 {
          @include onDesktop {
            &-#{$start}-#{end} {
              grid-column: #{$start} / #{$end + 1};
            }
          }
        }
      }
    }

    &--tablet {
      @for $start from 1 through 12 {
        @for $end from $start through 12 {
          @include onTablet {
            &-#{$start}-#{$end} {
              grid-column: #{$start} / #{$end + 1};
            }
          }
        }
      }
    }

    &--mobile {
      @for $start from 1 through 4 {
        @for $end from $start through 4 {
          @include onMobile {
            &-#{$start}-#{$end} {
              grid-column: #{$start} / #{$end + 1};
            }
          }
        }
      }
    }
  }
}
