@import '../../styles/utils/_mixins.scss';
@import '../../styles/utils/_normalize.scss';
@import '../../styles/utils/_variables.scss';

.header {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 48px;

  box-shadow: 0px 1px #323542;
  background-color: #0f1121;

  margin-bottom: 24px;

  @include onTablet {
    margin-bottom: 32px;
  }

  @include onDesktop {
    margin-bottom: 56px;
  }

  @media (min-width: 1200px) {
    height: 63px;
  }
}

.nav {
  display: flex;
  // justify-content: center;

  &__logo {
    padding-left: 16px;
    padding-right: 16px;

    &__image {
      height: 20px;
      width: 64px;

      @media (min-width: 1200px) {
        height: 26px;
        width: 80px;
      }
    }

    &--arm {
      height: 12px;
      width: 9px;
      position: relative;
      right: 32px;
      bottom: 10px;

      @media (min-width: 1200px) {
        height: 15px;
        width: 11px;
        right: 40px;
        bottom: 13px;
      }
    }

    @media (min-width: 1200px) {
      padding-left: 24px;
    }
  }

  &__list {
    display: flex;
    padding: 0;
    margin: 0;

    @media (max-width: 630px) {
      display: none;
    }
  }

  &__item {
    display: flex;
    padding-left: 32px;

    line-height: 11px;
    font-size: 12px;
    font-weight: 800;
    font-family: Mont, sans-serif;

    @media (min-width: 1200px) {
      padding-left: 64px;
    }
  }

  &__link {
    display: flex;
    align-items: center;

    text-decoration: none;
    color: #75767f;

    transition: all 0.5s;

    &:hover {
      color: #f1f2f9;
    }
  }
}

.is-active {
  color: #f1f2f9;
  position: relative;
}

.is-active::after {
  content: '';

  position: absolute;
  display: block;
  top: 130%;

  height: 2px;
  width: 100%;

  background-color: #f1f2f9;
}

.nav .is-active::after {
  top: 35px;

  height: 3px;

  @media (min-width: 1200px) {
    top: 45px;
  }
}

.icon {
  display: flex;
  position: relative;

  &__quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    font-weight: 700;
    font-size: 9px;
    line-height: 12px;
    color: $white;

    width: 12px;
    height: 12px;
    top: 20px;
    right: 20px;
    background-color: #eb5757;
    border: 1px solid $dark-background;
    border-radius: 50%;

    &--favorites {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;

      font-weight: 700;
      font-size: 9px;
      line-height: 12px;
      color: $white;

      width: 12px;
      height: 12px;
      top: 20px;
      right: 85px;
      background-color: #eb5757;
      border: 1px solid $dark-background;
      border-radius: 50%;
    }
  }

  &__action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;

    border-left: 1px solid #323542;

    transition: all 0.5s;

    &:hover {
      background-color: $elements;
    }

    @media (max-width: 639px) {
      display: none;
    }

    @media (min-width: 1200px) {
      width: 64px;
      height: 64px;
    }
  }
}
