@import '../../styles/utils/variables';
@font-face {
  font-family: Mont;
  font-weight: 800;
  src: url('../../fonts/Mont-Bold.otf');
}

@mixin button-size {
  height: 32px;
  width: 32px;
}

.recommended {
  &__title {
    color: $white;
    font-size: 32px;
    font-weight: 800;
  }

  &__button {
    @include button-size;
    border: none;
    cursor: pointer;

    &--prev {
      background-image: url('../../icons/disabled-prev.svg');
      background-color: $dark-background;
      margin-right: 16px;

      &:hover {
        background-image: url('../../icons/hover-prev.svg');
      }

      &:focus {
        background-image: url('../../icons/default-prev.svg');
      }
    }

    &--next {
      background-image: url('../../icons/disabled-next.svg');
      background-color: $dark-background;

      &:hover {
        background-image: url('../../icons/hover-next.svg');
      }

      &:focus {
        background-image: url('../../icons/default-next.svg');
      }
    }
  }

  &__items {
    height: 530px;

    @media (min-width: 744px) {
      width: 744;
    }

    @media (min-width: 640px) {
      width: 640;
    }

    @media (min-width: 1200px) {
      width: 1200;
    }
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.box {
  display: block;
}

// @media (max-width: 750px) {
//   .swiper {
//     height: 500px;
//   }
// }
