@import '../utils/mixins';
@import '../utils/variables';

.selection {
  display: flex;
  margin-top: 40px;

  cursor: default;

  @media (max-width: 639px) {
    justify-content: center;
  }

  &__items {
    width: max-content;

    color: $secondary;

    &:nth-child(2) {
      margin-left: 16px;
    }
  }

  &__text {
    margin-bottom: 10px;

    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }

  &__button {
    width: 176px;
    height: 40px;
    margin-bottom: 4px;
    padding-left: 12px;

    border: none;
    background-color: $gray-surface2;
    background-image: url('../../icons/downdrop_arrow.svg');
    background-size: 10px;
    background-position: calc(100% - 17px) center;
    background-repeat: no-repeat;

    font-family: 'Mont';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: left;

    color: $white;

    cursor: pointer;

    transition: background-image 0.3 ease-in-out;

    &--open {
      background-image: url('../../icons/downdrop_focus.svg');
    }

    @media (max-width: 639px) {
      width: 136px;
      height: 40px;
    }
  }

  &__list {
    position: absolute;
    z-index: 1;

    width: 176px;
    padding: 0;

    box-sizing: border-box;
    border: none;
    list-style: none;

    height: 0;
    opacity: 0;

    transition: border 0.3s;
    transition: height, opacity 0.3s ease-in-out;

    &--active {
      border: 1px solid $elements;
      height: max-content;
      opacity: 100;

      transition: border 0.3s;
      transition: height, opacity 0.3s ease-in-out;
    }

    @media (max-width: 639px) {
      width: 136px;
    }
  }

  &__item {
    position: relative;
    display: block;

    height: 0;
    opacity: 0;

    width: 162px;
    padding-left: 12px;

    border-style: none;

    color: #75767f;
    background-color: $dark-background;

    text-decoration: none;
    text-align: left;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 32px;

    transition: height, opacity 0.3s ease-in-out;

    transition: color, background-color 0.5s;

    &--active {
      height: max-content;
      opacity: 100;

      transition: height, opacity 0.3s ease-in-out;
    }

    &:hover {
      color: $white;
      background-color: $gray-surface2;
    }

    cursor: pointer;

    @media (max-width: 639px) {
      width: 122px;
    }
  }
}
