// @mixin onTablet {
//   @media (max-width: 1199px) {
//     @content;
//   }
// }

// @mixin onMobile {
//   @media (max-width: 639px) {
//     @content;
//   }
// }

@mixin onDesktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 744px) {
    @content;
  }
}

@mixin onMobile {
  @media (min-width: 320px) and (max-width: 743) {
    @content;
  }
}

@mixin cardHover {
  transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 20px 3px rgba(50, 53, 66, 0.59);
  box-shadow: 0px 0px 20px 3px rgba(50, 53, 66, 0.59);
}
