@import './_mixins';
@import './_variables';

@font-face {
  font-family: 'Mont';
  src: url(../../fonts/Mont-Regular.otf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Mont';
  src: url(../../fonts/Mont-SemiBold.otf);
  font-style: normal;
  font-weight: bold;
}

* {
  margin: 0;
  font-family: Mont, Helvetica, sans-serif;
}

body {
  background-color: $dark-background;
}

h1 {
  color: $white;
}
