$gray-surface1: #161827;
$gray-surface2: #323542;
$gray-hover: #4a4d58;
$white: #f1f2f9;
$secondary: #75767f;
$elements: #3b3e4a;
$accent: #905bff;
$accent-hover: #a378ff;
$dark-background: #0f1121;

$categories-phones: #6D6474;
$categories-access: #D53C51;
$categories-tablets: #7b787d; 
